
@{
    Layout = "~/Views/Shared/Header.cshtml";
}


<div class="container">
    <div class="row" style="margin-bottom:30px">
        <div class="col-sm"></div>
        <div class="col-sm">

        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm" >
            
            
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm" style="background-color:lemonchiffon; color:white; border-radius:8px 8px 8px 8px;margin-top:5px; margin-bottom:10px; padding:15px 15px 15px 15px; text-align:center;">
            <img src="~/img/orderimage/iconform.png" alt="" />
            @using (Html.BeginForm())
            {
                <input type="hidden" name="x" value="0" />
                <button type="submit" class="btn btn-info">Download Bootstrap Responsive Form</button>
            }
        </div>
        <div class="col-sm"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function submitform(thiss) {
        $('form').submit();
    }
</script>
