
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";

}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <link href="~/css/coustomform.css" rel="stylesheet" />
</head>
<body>


    <!-- expert_doctors_area_start -->
    <div class="expert_doctors_area doctor_page">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Register</h5>
                                    
                                        @using (Html.BeginForm())
                                        {
                                            <div class="form-label-group">
                                                <input type="text" name="fullName" id="inputName" class="form-control" placeholder="Full Name" required>
                                                <label for="inputName">Full Name</label>
                                            </div>
                                            <div class="form-label-group">
                                                <input type="text" name="userName" id="inputName1" class="form-control" placeholder="User Name" required>
                                                <label for="inputName1">User Name</label>
                                            </div>
                                            <div class="form-label-group">
                                                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="form-label-group">
                                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                        }
                                        <hr class="my-4">
                                        <a href='@Url.Action("login", "Overview")'><button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign In</button></a>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- expert_doctors_area_end -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function submitform(thiss) {
            $('form').submit();
        }
    </script>
</body>
</html>