
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";

}
<!doctype html>

<head>
   
</head>
<body>

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Register Your Company</h3>
                        <p><a href="index.html">Tshirt/</a> Company Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- expert_doctors_area_start -->

    <div class="expert_doctors_area doctor_page">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="contact-title">Register With Us And Grow Up Your Bussiness</h2>
                </div>
                <div class="col-lg-8">
                    @using (Html.BeginForm())
                    {
                        @*<form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">*@

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="companymassege" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Description About Your Company Coustomer Display This Description '" placeholder=" Enter Description About Your Company Coustomer Display This Description "></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="companyname" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Company Name'" placeholder="Enter your Company name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Company email address'" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="ownerName" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Company Owner Name'" placeholder="Company Owner name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="owneridnumber" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Company Owner Id Number'" placeholder="Enter Company Owner Id Number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    Tshirt Design <input name="tshirt" id="tshirt" value ="tshirt design"type="checkbox" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    Tshirt Print <input name="tshirtprint" id="tshirtprint" value="tshirt print" type="checkbox" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    Offset Print <input name="offsetprint" id="offsetprint" value="offset print" type="checkbox" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    Digital Print <input name="digitalprint" id="digitalprint" value="digital print" type="checkbox" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    Plastic Print <input name="plastic" id="plastic" type="checkbox" value="plastic print" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    Mug Print <input name="mug" id="mug" type="checkbox" value="mugprint" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="companylocation" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Location name Google'" placeholder="Company Location name Google">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="companyaddress" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Address'" placeholder="Company Address"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <p align="justify">
                                        You Get Order with This Site You Pay 5% This Site If You Dont't Pay Your Company Not Register Again this site and we get Our Rules and Registration we enterd Antry and you should complete order Delevery your company
                                        and Hand Over Delevery You Deposit Our Payment Boc Bank and Recipt take a Photo and upload our site after complete Order You Show How Much Pay Us. and After Register This Company You Send a Promo Code your local Address
                                        in Register Post Site Confirm Your Address After Enter Promo Code You can Get Order Easyly to Our Site Thank Your....
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input name="agree" id="subject" value="agreed" type="checkbox"> <p color="red">Agree Our Rules And Regulations</p>

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Register My Company</button>
                        </div>
                        @*</form>*@
                    }
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Tshirt Company, Sri Lanka</h3>
                            <p>Narahenpita, Sri Lanka</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+9471 21 25 166</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>info@tshirt.lk</h3>
                            <p>Send your Errors Any Time!</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function submitform(thiss) {
            $('form').submit();
        }
    </script>

</body>
</html>