
@{
    Layout = "~/Views/Shared/Header.cshtml";
    ViewBag.Title = "Compnypage";
}
<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Compny Page</h3>
                    <p><a href="index.html">Comapny Name | </a>@Session["Name"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>Hospitality</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">Apply For a Bed</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Emergency Care</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">+10 672 356 3567</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Chamber Service</h3>
                    <p>Clinical excellence must be the priority for any health care service provider.</p>
                    <a href="#" class="boxed-btn3-white">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->
<!-- offers_area_start -->
<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Send Request</h3>
                    <p>
                        Submit Request Buyer Can You Complete and Delevery Thats Order
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/1.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Complete Order</a></h3>
                        <p>This Page Show Your Company Completed Order</p>
                        <a href="#" class="learn_more">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/2.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Not Completed Order</a></h3>
                        <p>This Page Show You will Have Complete order Hurryup and Thats Order Complete </p>
                        <a href="#" class="learn_more">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/3.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Send offer </a></h3>
                        <p>This session you can send Offer Buyer are reqest Order </p>
                        <a href="#" class="learn_more">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/4.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Urnning All </a></h3>
                        <p>This Session you Show Your All Urning</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/5.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">You Pay Amount Company </a></h3>
                        <p>This Session Will You show How Much Pay our Website</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="img/department/6.png" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Surgery Service</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offers_area_end -->
