
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";

}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <link href="~/css/coustomform.css" rel="stylesheet" />
</head>
<body>

    
        <!-- expert_doctors_area_start -->
        <div class="expert_doctors_area doctor_page">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                                <div class="card card-signin my-5">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Login Your Account</h5>

                                        @using (Html.BeginForm())
                                        {
                                            <div class="form-label-group">
                                                <input type="text" id="inputName" name="name" class="form-control" placeholder="Enter Name Or Email Address" required>
                                                <label for="inputName">Enter Name Or Email Address</label>
                                            </div>
                                            <div class="form-label-group">
                                                <input type="password" id="inputName1" name="password" class="form-control" placeholder="Enter Password" required>
                                                <label for="inputName1">Enter Password</label>
                                            </div>

                                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                                        }
                                            <hr class="my-4">
                                            <a href='@Url.Action("BuyerRegiser", "Overview")'><button class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i> Buyer Register</button></a>


                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- expert_doctors_area_end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function submitform(thiss) {
            $('form').submit();
        }
    </script>

</body>
</html>