
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";
    var gettsirtdetails = ViewBag.tshirtdetailspasstheview;
    int listcount = ViewBag.listcount;
    int k = 0;
    string breakcommand = "Notbreak";



}
<!doctype html>
<html class="no-js" lang="zxx">

<body>

   
    <!-- expert_doctors_area_start -->
    @{
        //numberoftotalcircle = 2;
        <div class="expert_doctors_area doctor_page">
            <div class="container">


                @for (int j = 0; j < 5; j++)
                {

                    <div class="row">
                        @for (int i = 0; i < 4; i++)
                        {

                            int offerid = @gettsirtdetails[@k].offerId;
                            <div class="col-md-6 col-lg-3">
                                <div class="single_expert mb-40">
                                    <div class="expert_thumb">
                                        <img src="~/img/orderimage/@gettsirtdetails[@k].offerImage" alt="">
                                    </div>
                                    <a href='@Url.Action("offerSinglePage", "Overview", new { id=@offerid})'>
                                        <div class="experts_name text-center">
                                            <h3>@gettsirtdetails[@k].offerName</h3>
                                            <span>@gettsirtdetails[@k].offerEntryDate</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            k++;
                            if (k == listcount)
                            {
                                breakcommand = "pleasebreak";
                                break;
                            }
                        }
                        @if (breakcommand == "pleasebreak")
                        {
                            break;
                        }
                    </div>
                }
            </div>
        </div>
    }
    <!-- expert_doctors_area_end -->


</body>
</html>