<div class="form-group">
    <label for="exampleInputEmail1">{name}</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text ">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
endtext
fromemail
<div class="form-group">
    <label for="exampleInputEmail1">{name}</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">emails.</small>
</div>
endemail
frompassword
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
endpassword
fromcheck
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
endcheck
fromdropdown
<div class="form-group">
    <label for="inputState">{name}</label>
    <select id="inputState" class="form-control">
        {include_option}
    </select>
</div>
enddropdown
fromdropdownoption
<option selected>{option}</option>
enddropdownoption
fromsubmit
<div class="form-group">
    <button type="submit" class="btn btn-primary">{name}</button>
</div>
fromsubmitend