
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";
    var gettsirtdetails = ViewBag.tshirtdetailspasstheview;
    int listcount = ViewBag.listcount;
    int k = 0;



}
<!doctype html>
<html class="no-js" lang="zxx">

<body>

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Tshirt</h3>
                        <p><a href="index.html">Tshirt/</a> Progamming</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- expert_doctors_area_start -->
    @{
//numberoftotalcircle = 2;
<div class="expert_doctors_area doctor_page">
    <div class="container">

      
        @for (int j = 0; j < 2; j++)
        {
            
                <div class="row">
                    @for (int i = 0; i < 4; i++)
                    {
                        
                        
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/@gettsirtdetails[@k].fileName" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>@gettsirtdetails[@k].Name</h3>
                                <span>@gettsirtdetails[@k].Name</span>
                            </div>
                        </div>
                    </div>
                        k++;
                        if(k== listcount)
                        {
                            break;
                        }
                    }
                    @*<div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/laravel.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Laravel Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0002</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/android.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Android Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0003</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/angular.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Angular Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0004</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/react.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>React Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0005</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/visual.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>V S Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0006</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/python.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Python Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0007</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="single_expert mb-40">
                            <div class="expert_thumb">
                                <img src="~/img/experts/flutter.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Flutter Tshirt</h3>
                                <span>Tshirt Tag Number - Pro0008</span>
                            </div>
                        </div>
                    </div>*@
                </div>
        }
        </div>
</div>
    }
    <!-- expert_doctors_area_end -->


</body>
</html>