
@{
    Layout = "~/Views/Shared/Header.cshtml";
    ViewBag.Title = "Index";

}

<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <a href='@Url.Action("offerPage", "Overview", new { offer="tshirt"})'>
                        <div class="experts_name text-center">
                            <h3>Tshirt Order</h3>
                            <span>Click Here Go Inside</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Banner Order</h3>
                        <span>Click Here Go Inside</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <a href='@Url.Action("offerPage", "Overview", new { offer="leflert"})'>
                        <div class="experts_name text-center">
                            <h3>Leflert And Poster</h3>
                            <span>Click Here Go Inside</span>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <a href='@Url.Action("offerPage", "Overview", new { offer="calendar"})'>
                        <div class="experts_name text-center">
                            <h3>Calendar Order</h3>
                            <span>Click Here Go Inside</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Logo Design</h3>
                        <span>Click Here Go Inside</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Letter Head</h3>
                        <span>Click Here Go Inside</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Book Cover</h3>
                        <span>Click Here Go Inside</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="~/img/experts/sendoffer.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Other Order</h3>
                        <span>Click Here Go Inside</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->

