
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //ViewBag.Title = "Index";

}
<!doctype html>

<head>

</head>
<body>

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Register Your Company</h3>
                        <p><a href="index.html">Tshirt/</a> Company Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- expert_doctors_area_start -->
    <div class="expert_doctors_area doctor_page">
        <div class="container">
            <div class="row">



            </div>
        </div>
    </div>


</body>
</html>