
@{
    Layout = "~/Views/Shared/Header.cshtml";
    ViewBag.Title = "Thankyoupage";
    
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your Order Completly </strong> Your Details Successfully Come With Ceylon Print Team Our Team Memeber Connect Your Mobile with Few hours</p>
    <hr>
    <p>
        Having trouble? <a href="">+9471 21 25 166</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href='@Url.Action("Index", "Overview")' role="button">Continue to our homepage</a>
    </p>
</div>