
@{
    Layout = "~/Views/Shared/Header.cshtml";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="row" id="webtemplatetitle">
        <div class="col-sm"><img src="~/img/orderimage/55.jpg" style="width:100%" /></div>
    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            Moblile Responsive Bootstrap Web Template..
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            <img src="~/img/orderimage/web.png" style="width:100%" />
        </div>
        <div class="col-sm">

            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Free Download Web Template</h4>
            <p style="font-family:Courier New; text-align:justify">
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
            </p>
            <button type="button" class="btn btn-outline-success" style="width:100%">View Template</button>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            Android Flutter Template..
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Free Download Mobile Template</h4>

            <p style="font-family:Courier New; text-align:justify">
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
            </p>
            <button type="button" class="btn btn-outline-success" style="width:100%">View Template</button>

        </div>
        <div class="col-sm">
            <img src="~/img/orderimage/mobile.png" style="width:100%" />
        </div>

    </div>
    <div class="row" style="border-bottom: 1px; border-width:1px;">

    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            This Month Best One Template - WEB
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Best one Rank Template Web</h4>

            <p style="font-family:Courier New; text-align:justify">
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
            </p>
            <button type="button" class="btn btn-outline-success" style="width:100%">View | Download Template</button>

        </div>
        <div class="col-sm">
            Moblile Responsive Bootstrap Web Template
        </div>

    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            This Month Best One Template - Mobile
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            Moblile Responsive Bootstrap Web Template
        </div>
        <div class="col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Best one Rank Template Web</h4>

            <p style="font-family:Courier New; text-align:justify">
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
                Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template Moblile Responsive Bootstrap Web Template
            </p>
            <button type="button" class="btn btn-outline-success" style="width:100%">View | Download Template</button>

        </div>


    </div>
</div>
