
@{
    Layout = "~/Views/Shared/Header.cshtml";

}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="364407944273-23b5bjjnao8ud8oc72ujf9shm8qrc63a.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/api.js"></script>

</head>
<div class="container">
    <div class="row">
        <div class="col-md col-sm">
            <img src="~/img/orderimage/web.png" style="width:100%" />
        </div>
        <div class="col-sm">
            <div class="row" style="margin-bottom:30px;">
                <div class="col-sm" style="border-radius: 10px 10px 10px 10px; padding:20px 20px 20px 20px; background-color:#f8f9fa; color:green">
                    <h4 style="text-align:center"> <i class="fas fa-battery-half"></i> Login </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1"> Email address </label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-outline-success" style="width:100%; margin-bottom:10px">Login</button>
                    }
                    <a href='@Url.Action("Register", "Home")'><button type="button" class="btn btn-outline-danger" style="width:100%">Go To Register Page</button></a>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function start() {
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '364407944273-23b5bjjnao8ud8oc72ujf9shm8qrc63a.apps.googleusercontent.com',
                // Scopes to request in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
        });
    }
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function submitform(thiss) {
        $('form').submit();
    }
</script>


