
@{
    Layout = "~/Views/Shared/Header.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>

    

    <div class="container">
        <div class="row" id="webtemplatetitle">
            <div class="col-md col-sm" style="border-radius:15px 15px 15px 15px;"><img src="~/img/orderimage/templatemain.png" style="width:100%; border-radius:15px 15px 15px 15px;" /></div>
        </div>
        <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
            <div class="col-md col-sm">
                <h4 style="color:green"> <i class="fa fa-download"></i> Premium Qulity Android Flutter Template ....</h4>
            </div>
        </div>
        <div class="row" id="imagerow" style="margin-top:30px;">
            <div class="col-sm">
                <div class="container" id="imagesdrop" style="background:#f8f9fa; padding:10px 10px 10px 10px">
                    <img src="~/img/orderimage/mobile.png" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <button type="button" class="btn btn-danger btn-lg">View | Download</button>
                    </div>
                </div>

                <div class="container" id="imagesdrop" style="background:#f8f9fa; margin-top:15px">
                    <div class="col-sm" style="padding-top:30px; padding-bottom:10px;">
                        <h4 style="color:green">  <i class="fa fa-download"></i> Theme Title</h4>
                        <p>About Theme Small Description</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="container" id="imagesdrop" style="background:#f8f9fa; padding:10px 10px 10px 10px">
                    <img src="~/img/orderimage/mobile.png" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <button type="button" class="btn btn-danger btn-lg">View | Download</button>
                    </div>
                </div>

                <div class="container" id="imagesdrop" style="background:#f8f9fa; margin-top:15px">
                    <div class="col-sm" style="padding-top:30px; padding-bottom:10px;">
                        <h4 style="color:green">  <i class="fa fa-download"></i> Theme Title</h4>
                        <p>About Theme Small Description</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="container" id="imagesdrop" style="background:#f8f9fa; padding:10px 10px 10px 10px">
                    <img src="~/img/orderimage/mobile.png" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <button type="button" class="btn btn-danger btn-lg">View | Download</button>
                    </div>
                </div>

                <div class="container" id="imagesdrop" style="background:#f8f9fa; margin-top:15px">
                    <div class="col-sm" style="padding-top:30px; padding-bottom:10px;">
                        <h4 style="color:green">  <i class="fa fa-download"></i> Theme Title</h4>
                        <p>About Theme Small Description</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
