
@{
    Layout = "~/Views/Shared/Header.cshtml";
    //var mydownloadfile = ViewBag.templatedownload;
}


<div class="container" >
    <div class="row" style="margin-bottom:30px">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h2>Thank You For Download</h2>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" style="margin-bottom:150px;">
        <div class="col-sm"></div>
        <div class="col-sm">
            <a href='@Url.Action("Index", "Home")'>
                <button type="button" class="btn btn-outline-success" style="width:100%">Go To Home Page</button>
            </a>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row" >
       
    </div>
</div>